<div class="control-row">
	<button
		type="button"
		data-action="cancel"
	>
		{{localize "taf.misc.cancel"}}
	</button>
	<button
		type="submit"
	>
		{{localize "taf.misc.confirm-and-close"}}
	</button>
</div>
