<div class="dialog-content">
	{{#if description}}
		<p>
			{{ description }}
		</p>
	{{/if}}
	{{#each inputs as | i |}}
		{{> (concat (systemFilePath "templates/Ask/inputs/" ) i.type ".hbs") i}}
	{{/each}}
</div>
