<div class="control-row">
	<button data-action="cancelRequest">
		{{ localize "taf.Apps.QueryStatus.cancel-request" }}
	</button>
	<button data-action="finishEarly">
		{{ localize "taf.Apps.QueryStatus.finish-early" }}
	</button>
</div>
