<div>
	<label>
		Equipped
		<input type="checkbox" name="system.equipped">
	</label>
	<label>
		Weight
		<input type="number" name="system.weight">
	</label>
	<prose-mirror
		name="system.description"
	></prose-mirror>
</div>
