.theme-dark {
	--prosemirror-background: var(--color-cool-5);

	--spinner-outer-colour: white;
	--spinner-inner-colour: #FF3D00;

	/* Chip Variables */
	--chip-color: #fff7ed;
	--chip-background: #2b3642;
	--chip-value-color: #fff7ed;
	--chip-value-background: #10161d;
	--chip-border-color: var(--chip-value-background);
}
