.theme-dark {
	--prosemirror-background: var(--color-cool-5);

	--spinner-outer-colour: white;
	--spinner-inner-colour: #FF3D00;

	--toggle-background-colour: #171e26;
	--toggle-slider-unchecked-colour: maroon;
	--toggle-slider-checked-colour: green;

	--tab-button-active-border: rebeccapurple;
	--tab-button-hover-bg: var(--color-cool-3);

	/* Actor Sheet Variables */
	/* Use --steel-850 as the main sheet background */
	--inventory-summary-background: #171e26;
	--inventory-summary-colour: white;
	--inventory-input-background: #2b3642;
	--inventory-input-colour: white;
	--inventory-input-disabled-colour: gray;
	--item-list-header-background: #171e26;
	--item-list-header-color: white;

	--item-card-background: #1d262f;
	--item-card-color: white;
	--item-card-header-background: #242d38;
	--item-card-header-color: white;
	--item-card-header-input-background: #2b3642;
	--item-card-header-input-colour: white;
	--item-card-header-disabled-input-colour: gray;

	/* Item Sheet Variables */
	--item-sheet-color: var(--steel-100);
	--item-sheet-background: var(--steel-800);
	--item-sheet-divider-color: var(--steel-700);
	--item-sheet-input-color: var(--steel-100);
	--item-sheet-input-background: var(--steel-650);
	--item-sheet-toggle-slider-enabled-color: green;
	--item-sheet-toggle-slider-disabled-color: maroon;
	--item-sheet-description-menu-color: var(--steel-100);
	--item-sheet-description-menu-background: var(--steel-700);
	--item-sheet-description-content-background: var(--steel-650);

	/* Chip Variables */
	--chip-color: #fff7ed;
	--chip-background: #2b3642;
	--chip-value-color: #fff7ed;
	--chip-value-background: #10161d;
	--chip-border-color: var(--chip-value-background);
}
