.theme-light {
	--prosemirror-background: white;

	--spinner-outer-colour: black;
	--spinner-inner-colour: #FF3D00;

	--tab-button-active: rebeccapurple;
	--tab-button-hover-bg: var(--color-light-3);

	/* Chip Variables */
	--chip-colour: #18181b;
	--chip-background: #fafafa;
	--chip-value-colour: #18181b;
	--chip-value-background: #d4d4d8aa;
	--chip-border-colour: var(--chip-value-background);
}
