.taf.AttributeManager {
	.attributes {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.attribute {
		display: grid;
		grid-template-columns: min-content 1fr repeat(3, auto);
		align-items: center;
		gap: 8px;
		padding: 8px;
		border: 1px solid rebeccapurple;
		border-radius: 4px;

		label {
			display: flex;
			flex-direction: row;
			align-items: center;

			&.vertical {
				flex-direction: column;
			}
		}

		/* Used to style the actual element as dragging */
		&:has(taf-icon:active) {
			background: var(--background);
		}
	}

	taf-icon {
		cursor: grab;

		&:active {
			cursor: grabbing;
		}
	}

	.controls {
		display: flex;
		flex-direction: row;
		gap: 8px;

		button {
			flex-grow: 1;
		}
	}
}
