.taf {
	> .window-content {
		padding: 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		overflow: auto;
	}

	> .window-content nav.system-tabs {
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
		margin: 0 -0.5rem;
		border-bottom: 1px solid var(--tab-nav-divider-colour);

		button {
			color: var(--tab-button-colour);
			border: none;
			text-shadow: none;
			box-shadow: none;
			outline: none;
			background: transparent;
			border-radius: 0;
			border: 2px solid transparent;
			transition: unset;

			&:hover {
				color: var(--tab-button-hover-colour);
			}

			&:focus-visible {
				color: var(--tab-button-focus-colour);
				border-color: var(--tab-button-focus-colour);
				border-radius: 4px;
			}

			&.active {
				color: var(--tab-button-active-colour);
				border-bottom: 2px solid currentColor;
				outline: none;
			}
		}
	}
}
