.taf.ResizeControlManager {
	fieldset {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
		align-items: center;
		gap: 8px;
		border: 1px solid rebeccapurple;
		border-radius: 4px;
	}

	.controls {
		display: flex;
		flex-direction: row;
		gap: 8px;

		button {
			flex-grow: 1;
		}
	}
}
