.taf > .window-content div {
	&.chip {
		display: inline flex;
		color: var(--chip-colour);
		background: var(--chip-background);
		border-radius: 4px;

		.key {
			padding: 2px 4px;
		}

		.value {
			padding: 2px 4px;
			border-radius: 0 4px 4px 0;
			color: var(--chip-value-colour);
			background: var(--chip-value-background);
		}
	}
}
