.taf > .window-content prose-mirror {
	background: var(--prosemirror-background);
	gap: 0;

	.editor-content {
		padding: 8px;
	}

	.tableWrapper th,
	.tableWrapper td {
		border-color: rebeccapurple;
	}
}
