{{#if answers}}
	<table class="taf-query-summary">
		<tr>
			<td>Key</td>
			<td>Value</td>
		</tr>
		{{#each answers as | answer |}}
			<tr>
				<td>{{ @key }}</td>
				<td>{{ answer }}</td>
			</tr>
		{{/each}}
	</table>
{{else}}
No data submitted
{{/if}}
